body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.degub-grid {
  height: 100vh;
  position: fixed;
  width: 100%;
}

.degub-grid > div {
  height: inherit;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.degub-grid > div > div {
  height: inherit;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.degub-grid > div > div > div {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(8.333333333333334% - 30px);
  height: inherit;
  outline: 1px #ff0 solid;
  background: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Ubuntu;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: #000000;
  text-align: center;
}

h2,
.h2 {
  font-size: 35px;
  margin: 32px 0;
}

.btn {
  display: inline-block;
  padding: 12px 53px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
}

.btn-green {
  background-color: #1d9d73;
  color: #ffffff;
}

.btn-white {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.shadow,
.statItem__icon {
  box-shadow: 5px 5px 10px #222;
}

.sg-row,
.statItems {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
}

.header__logo {
  -webkit-box-flex: 0;
          flex: 0 0 200px;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__menu {
  margin-top: 10px;
  margin-right: -10px;
}

.header__list {
  display: -webkit-box;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: -20px 0 0 20px;
}

.header__link {
  color: #232324;
  font-size: 18px;
  text-decoration: none;
}

.content {
  padding: 100px 0 0 0;
}

.main {
  top: 64px;
  height: 600px;
  position: relative;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  color: white;
}

.main0 {
  background: url('../img/slaid2.jpg') no-repeat top center;
}

.main1 {
  background: url('../img/slaid1.jpg') no-repeat top center;
}

.main2 {
  background: url('../img/slaid2.jpg') no-repeat top center;
}

.main3 {
  background: url('../img/slaid3.jpg') no-repeat top center;
}

.mainItems {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  min-height: 620px;
  text-align: center;
}

.mainItem {
  font-size: 50px;
  padding-top: 210px;
  color: #fff;
}

.mainButtons {
  margin: 30px 0;
  text-align: center;
}

.mainButtons > .btn-green {
  margin-right: 5px;
}

.mainButtons > .btn-white {
  margin-left: 5px;
}

.present {
  margin-top: 105px;
}

.presentItems {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.presentItem {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  text-align: center;
}

.presentItem__title {
  color: #333;
  font-size: 22px;
  margin: 15px 0 16px;
}

.presentItem__text {
  color: #888;
  font-size: 15px;
  line-height: 23px;
}

.PresentText {
  padding: 0 25px;
  line-height: 150%;
  margin-bottom: 40px;
  text-align: center;
}

.presentButtons {
  margin: 30px 0;
}

.presentTitle {
  font-size: 2.5rem;
  margin: 20px 0 20px 0;
}

.feats {
  background-color: #f6f8fa;
  max-width: 2048px;
  margin: 65px auto 0;
  padding-top: 5px;
  padding-bottom: 60px;
}

.featItems {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.featItem {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
}

.featItem-row1 {
  margin-top: 52px;
}

.featItem-row2 {
  margin-top: 47px;
}

.featItem__container {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  color: red;
}

.featItem__titleIcon {
  width: 70px;
  text-align: center;
  margin-top: -10px;
}

.featItem__titleText {
  margin-left: 10px;
  color: #888;
  font-size: 14px;
  line-height: 23px;
  text-align: left;
  max-width: 290px;
}

.featItem__titleTextTop {
  font-size: 23px;
}

.featItem__titleTextTop-row1 {
  margin-top: 10px;
}

.featItem__titleTextMiddle-row1 {
  margin-top: 15px;
}

.featItem__titleTextMiddle-row2 {
  margin-top: 20px;
}

.featItem__titleTextBottom {
  font-size: 20px;
  color: #1d9d73;
}

.featItem__titleTextBottom-row1 {
  margin-top: 15px;
}

.featItem__titleTextBottom-row2 {
  margin-top: 15px;
}

.featButtons {
  margin: 30px 0;
  text-align: center;
}

.featTitle {
  font-size: 2.5rem;
  text-align: center;
  margin: 40px 0;
}

.discItems {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.discItem {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.discItem-left {
  margin-left: 0;
  margin-top: -10px;
}

.discItem-right {
  margin-left: 25px;
  margin-top: 41px;
}

.discItem__title {
  color: #333;
  font-size: 38px;
  text-align: left;
}

.discItem__text {
  color: #888;
  font-size: 14px;
  line-height: 23px;
  margin-top: 18px;
  max-width: 550px;
}

.discItem__rows {
  margin-top: 45px;
  margin-left: 30px;
  font-size: 23px;
}

.discItem__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 32px;
}

.discItem__rowText {
  margin-left: 30px;
  color: #1d9d73;
}

.advantages {
  max-width: 2018px;
  margin: 0 auto;
}

.advItems {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.advItem {
  width: calc(33.33333333% - 0px);
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  padding: 85px 5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  height: 340px;
}

.advItem-left {
  background-color: #1fa87a;
}

.advItem-middle {
  background-color: #1d9d73;
}

.advItem-right {
  background-color: #1b936c;
}

.advItem__title {
  font-size: 25px;
  margin: 20px 0 15px;
}

.advItem__text {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 30px;
  max-width: 100%;
}

.advItem__icon {
  height: 66px;
}

.advItem__icon-small {
  height: 58px;
  margin-top: 8px;
}

.blogItems {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.blogItem {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  text-align: center;
}

.blogItem__title {
  color: #333;
  font-size: 20px;
  margin: 20px 0 16px;
}

.blogItem__text {
  color: #888;
  font-size: 14px;
  line-height: 23px;
}

.blogItem__meta {
  color: #1d9d73;
  font-size: 14px;
  line-height: 23px;
  margin: 8px 0;
}

.blogItem__metaUser {
  margin-left: 15px;
}

.blogItem__metaUser:before {
  content: "\f007";
  font-family: FontAwesome;
}

.blogItem__metaDate {
  margin-left: 15px;
}

.blogItem__metaDate:before {
  content: "\f073";
  font-family: FontAwesome;
}

.blogButtons {
  margin: 32px 0 30px 0;
  text-align: center;
}

.blogTitle {
  font-size: 2.5rem;
  text-align: center;
  margin: 47px 0 30px 0;
}

.stats {
  margin-top: 55px;
  background: url('../img/stats-back.png') no-repeat top center;
  height: 590px;
}

.statItems {
  padding-top: 200px;
  -webkit-box-align: center;
          align-items: center;
  align-self: center;
}

.statItem {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.statItem__number {
  color: #1d9d73;
  font-size: 45px;
  margin: 15px 0;
}

.statItem__text {
  color: #333333;
  font-size: 20px;
}

.statItem__icon {
  border-radius: 50%;
  background: #1d9d73;
  width: 119px;
  height: 119px;
  margin: 0 auto;
  line-height: 150px;
  text-align: center;
}

.offerItems {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.offerItem {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  background-color: #f6f8fa;
  overflow: hidden;
}

.offerItem__title {
  color: #888;
  font-size: 22px;
  margin-bottom: 0;
  text-align: center;
  padding-top: 25px;
}

.offerItem__text {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 22px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-weight: 600;
  color: #fff;
  background-color: #1d9d73;
  height: 75px;
}

.offerItem__curr {
  font-size: 25px;
  align-self: flex-start;
  padding-top: 20px;
}

.offerItem__price {
  font-size: 45px;
  align-self: center;
}

.offerItem__period {
  align-self: flex-end;
  padding-bottom: 20px;
}

.offerItem__list {
  padding-left: 85px;
  padding-top: 25px;
  line-height: 180%;
}

.check:before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #1d9d73;
}

.times:before {
  content: "\f00d";
  font-family: FontAwesome;
  color: #dedfd7;
}

.offerTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 34px;
}

@media screen and (max-width: 1048px) {
  .offerItem__list {
    padding-left: 10px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .degub-grid > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .PresentText {
    padding: 0 30px;
  }

  .featItem {
    width: calc(50% - 30px);
  }

  .discItem {
    width: calc(100% - 30px);
  }

  .discItems {
    display: block;
    text-align: center;
    margin: 0;
  }

  .discItem__title {
    text-align: center;
  }

  .discItem__text {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .discItem__row {
    padding-left: 25%;
  }

  .advItems {
    display: block;
  }

  .advItem {
    width: auto;
    display: block;
  }

  .offerItem {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 890px) {
  .stats {
    background: #dedfd7;
    height: 1050px;
  }

  .statItems {
    -webkit-box-pack: center;
            justify-content: center;
    padding-top: 30px;
  }

  .statItem {
    flex-basis: 270px;
    width: auto;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 720px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #232324;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #232324;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
  }

  .header__burger:before {
    top: 0;
    background-color: #232324;
  }

  .header__burger:after {
    bottom: 0;
    background-color: #232324;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
    background-color: #f0f0f0;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 20px 0;
  }

  .header__link {
    font-size: 34px;
  }

  .content {
    padding: 70px 0 0 0;
  }

  .main {
    background: #dedfd7;
    height: 300px;
  }

  .mainItems {
    min-height: 300px;
  }

  .mainItem {
    font-size: 40px;
    padding-top: 30px;
  }

  .presentItem {
    width: calc(100% - 30px);
  }

  .featItem {
    width: calc(100% - 30px);
  }

  .featItem__title {
    -webkit-box-pack: center;
            justify-content: center;
  }

  .blogItem {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .discItem__rows {
    margin-left: 0;
  }

  .discItem__row {
    padding-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .featItem__container {
    display: block;
  }

  .featItem__titleIcon {
    margin: 0 auto;
  }

  .featItem__titleText {
    margin: 0 auto;
  }

  .featItem__titleTextTop {
    text-align: center;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container-main {
    display: -webkit-box;
    display: flex;
  }

  .statItems {
    flex-basis: 100%;
  }

  .container-stats {
    display: -webkit-box;
    display: flex;
  }

  .statItems {
    flex-basis: 100%;
  }
}